.mymusic-overview {
    padding-top: 40px;

    .header {
        display: flex;
        align-items: center;

        .text {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
        }

        .osx-btn {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            margin-left: 12px;
        }
    }

    .osx-navbar-wrap {
        margin-left: 0;
        margin-right: 0;
        padding: 0;

        .osx-navbar-item {
            margin: 0 40px 0 0;
        }
    }
}

.osx-nav-buttons {
    .item {
        font-weight: 400;
        font-size: 12px;
        padding: 4px 10px;
        border: 1px solid;
        border-radius: 999px;
        text-transform: uppercase;
    }

    .item.active {
        border-color: var(--purple-primary);
        background-color: var(--purple-primary);
        color: var(--white);
    }

    .item:not(:first-child) {
        margin-left: 16px;
    }
}

.form-playlist-content {
    width: 290px;
    text-align: center;

    .close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .title {
        text-transform: none;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .input {
        height: 40px;
        width: 100%;
        border-radius: 999px;
        border: 1px solid var(--border-primary);
        background-color: var(--alpha-bg);
        padding: 0 15px;
        font-size: 14px;
    }
}
