@import '../components/Sidebar/Sidebar.scss';
@import '../components/NowPlayingBar/NowPlayingBar.scss';
@import '../pages/Home/Home.scss';
@import '../layouts/DefaultLayout/DefaultLayout.scss';
@import '../components/Header/Header.scss';
@import '../sections/Playlist/Playlist.scss';
@import '../sections/Banner/Banner.scss';
@import '../sections/NewRelease/NewRelease.scss';
@import '../pages/AlbumDetail/AlbumDetail.scss';
@import '../pages/ArtistDetail/ArtistDetail.scss';
@import '../sections/Artist/Artist.scss';

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

#root {
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    overflow: hidden;
    color: var(--primary-color);
}

a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

// a.active,
// a:hover {
//     color: var(--link-text-hover);
// }

a,
a.active,
a:hover {
    text-decoration: none;
}

a.osx-btn:hover {
    color: inherit;
}

svg.change-color circle,
svg.change-color line,
svg.change-color path,
svg.change-color rect {
    stroke: currentColor;
}

body input::placeholder {
    opacity: 1;
}

body input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input::-webkit-input-placeholder,
body input::placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input:-ms-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body input:-moz-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea::-webkit-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea::-webkit-input-placeholder,
body textarea::placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea:-ms-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body textarea:-moz-input-placeholder {
    font-size: 14px;
    text-align: left;
    // color: var(--text-placeholder) !important;
    font-weight: 400;
}

body .react-loading-skeleton {
    background-color: var(--loading-bg);
    background-image: linear-gradient(90deg, transparent, var(--loading-bg-animation), transparent);
}

img,
video {
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

body ::-webkit-scrollbar {
    width: 6px;
}

body ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset #fff;
    border-radius: 4px;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

figure {
    background-color: var(--loading-bg);
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

// a {
//     &:hover {
//         filter: brightness(0.9);
//     }
// }

a.active,
a:hover {
    color: var(--link-text-hover);
}

ol,
p,
ul {
    list-style: none;
}

li {
    > a {
        &:hover {
            color: inherit;
        }
    }

    > span {
        a {
            &:hover {
                color: inherit;
            }
        }
    }
}

.osx-btn[disabled] {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
}

*:focus {
    outline: none;
}

.checkbox,
.checkbox input {
    cursor: pointer;
    position: relative;
}

.checkbox {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 999px;
        border: 1px solid #a0a0a0;
        padding: 8px;
        margin-right: 6px;
    }
}

.checkbox input:checked:after {
    content: ' ';
    border-left-color: #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top-color: #fff;
    height: 47%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%) rotate(45deg);
}

.song-list-select .select-item.is-selected .checkbox input {
    border-color: var(--white);
}
.song-list-select .checkbox input:checked {
    background-color: var(--select-bg);
}

.checkbox {
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.osx-btn.is-outlined.active {
    background-color: var(--purple-primary);
    border-color: var(--purple-primary);
    color: var(--white);
}

.osx-btn.is-medium {
    font-size: 14px;
    padding: 9px 24px;

    .icon {
        font-size: 16px;
        margin-right: 5px;
    }
}

.osx-btn.is-small {
    font-size: 12px;
    padding: 6px 19px;

    .icon {
        font-size: 14px;
        margin-right: 5px;
    }
}

.osx-dropdown {
    position: relative;

    .osx-dropdown-content {
        opacity: 0;
        visibility: hidden;
        padding: 5px;
        border-radius: 8px;
        background-color: var(--primary-bg);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        min-width: 100%;
        position: absolute;
        z-index: 99;
        top: calc(100% + 10px);
        left: 0;

        &:before {
            content: '';
            clear: both;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid var(--primary-bg);
            position: absolute;
            left: 15px;
            top: -8px;
        }
    }
}

.osx-dropdown-list-item {
    font-size: 12px;
    border-radius: 4px;
    line-height: 1;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.osx-btn.is-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: var(--alpha-bg);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    margin: 0 auto;
}

.is-idle .fs-header .action-group,
.is-idle .fs-header .tabs,
.is-idle .fs-media-list .arrow-btn,
.is-idle .fs-media-list .osx-card:not(.active),
.is-idle .player-controls,
.is-idle .osx-text-transition {
    // opacity: 0;
    transition: opacity 1s ease;
}

.fs-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    .video-blur-image {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
}

.fs-nowplaying {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    right: 0;

    .fs-bottom {
        .osx-text-transition-item {
            .artist {
                color: hsla(0, 0%, 100%, 0.5);
            }
        }
    }

    .fs-content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 90px);
        position: relative;
        top: 0;
        z-index: 1;

        .fs-body {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            overflow: hidden;
        }
    }
}

.fs-lyric {
    height: 100%;
    position: relative;
    margin-bottom: 20px;

    .scroll-content {
        max-height: 500px;
        overflow: hidden auto;
        text-align: center;
        position: relative;
        mask-image: linear-gradient(
            180deg,
            hsla(0, 0%, 100%, 0),
            hsla(0, 0%, 100%, 0.8) 10%,
            #fff 25%,
            #fff 75%,
            hsla(0, 0%, 100%, 0.8) 90%,
            hsla(0, 0%, 100%, 0)
        );

        .item.is-over {
            color: hsla(0, 0%, 100%, 0.5);
        }

        .item {
            color: var(--white);
            font-weight: 700;
            font-size: inherit;
            line-height: inherit;
            line-height: 1.2;
            padding: 15px 0;
        }
    }

    .is-size-M {
        .scroll-content {
            font-size: 42px;

            .item {
                padding: 20px 0;
                letter-spacing: -1px;
            }

            .item.is-active {
                color: #ffed00;
            }
        }
    }

    .song-item {
        width: 500px;
        max-width: 80%;
        margin-right: 50px;

        .cover {
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
            margin-bottom: 16px;
            position: relative;

            .image {
                width: 100%;
                line-height: 0;
            }
        }
    }

    .columns {
        height: 100%;
        flex-direction: column;
    }

    .is-fullhd-7 {
        flex: 1 1;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.fs-background {
    overflow: hidden;
    background-color: var(--primary-bg);

    .image-effect {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        opacity: 0.5;
    }

    .video-blur-image {
        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .overlay {
        height: 100%;
        width: 100%;
        background-color: var(--alpha-layout-bg);
        position: absolute;
    }
}

.image-effect {
    overflow: hidden;
    height: 500px;
    position: relative;

    li {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        transform: scale(1.1);

        img {
            object-fit: cover;
            object-position: center center;
            height: 100%;
        }
    }

    li.exit {
        z-index: 1;
        opacity: 0;
        -webkit-animation: animateExit 5s linear;
        animation: animateExit 5s linear;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }

    li.enter {
        -webkit-animation: animateEnter 10s linear;
        animation: animateEnter 10s linear;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
}

.image-effect.is-play {
    li.enter,
    li.exit {
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

.fs-header {
    padding: 20px;
    position: relative;

    .action-group {
        position: absolute;
        right: 10px;
        top: 17px;

        .setting-btn {
            .menu {
                position: absolute;
                top: 70px;
                right: -20px;
                z-index: 1;

                .menu-list {
                    width: 270px;
                    background-color: #292929;
                    padding: 15px 0;
                    border-radius: 8px;

                    li {
                        font-weight: 500;
                        text-align: right;

                        .size-btn {
                            justify-content: space-between;

                            .sizes {
                                display: flex;
                                align-items: center;

                                .osx-btn:first-child {
                                    font-size: 10px;
                                }

                                .osx-btn:last-child {
                                    font-size: 14px;
                                }

                                .osx-btn.active {
                                    background-color: var(--purple-primary);
                                    color: var(--white);
                                }

                                .osx-btn {
                                    height: 25px;
                                    width: 25px;
                                    padding: 4px;
                                    margin: 0 0 0 10px;
                                    font-weight: 500;
                                    font-size: 12px;
                                    justify-content: center;
                                    background-color: var(--alpha-bg);
                                }
                            }
                        }

                        .osx-tg-btn {
                            justify-content: space-between;

                            .icon {
                                margin: 0 0 0 10px;
                            }
                        }

                        > .osx-btn {
                            height: 40px;
                            align-items: center;
                            padding-right: 15px;
                            color: var(--white);
                        }
                    }
                }
            }
        }

        > .level-item {
            margin-right: 15px !important;

            .setting-btn > .osx-btn,
            > .osx-btn {
                padding: 8px;
                background-color: var(--kara-btn-bg);
                line-height: 0;
                color: var(--white);

                .icon {
                    font-size: 18px;
                }
            }
        }
    }

    .tabs {
        background-color: hsla(0, 0%, 100%, 0.1);
        border-radius: 999px;

        .tab-item {
            font-size: 16px;
            color: hsla(0, 0%, 100%, 0.5);
            padding: 7px 50px;
            font-weight: 700;
        }

        .tab-item.is-active {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 999px;
            color: var(--white);
        }
    }

    .zmp3-logo {
        width: 45px;
        height: 45px;
        background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/dev/119956/static/media/icon_zing_mp3_60.f6b51045.svg);
        flex: 1 1;
    }

    .left {
        opacity: 0;
        position: absolute;
        top: 15px;
        display: flex;
        font-size: 12px;
        align-items: center;
        max-width: 50%;
    }
}

.tabs {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    border-radius: 15px;
    padding: 3px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    position: relative;

    .tab-item.is-active {
        border-radius: 15px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
        background-color: var(--white);
    }

    .tab-item.is-active,
    .tab-item:hover {
        color: var(--text-item-hover);
    }

    .tab-item {
        padding: 5px 20px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
    }
}

.is-idle {
    .fs-header {
        .left {
            opacity: 1;
            transition: opacity 1s ease;
        }
    }
}

.osx-text-transition {
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: var(--white);
}

.player-controls.opac {
    --player-text: #fff;
    background-color: transparent;
    background-image: none;
    cursor: default;
}

.player-controls.opac .player-controls__container {
    background-color: transparent;
    border-color: transparent;
    background: none;
    display: flex;
    justify-content: center;
}

.player-controls.opac .player-controls__container .player-controls__player-bar {
    display: flex;
    flex-direction: column-reverse;
}

.player-controls.opac .player-controls__container .player-controls-left,
.player-controls.opac .player-controls__container .player-controls-right {
    display: none;
}

.osx-text-transition {
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: var(--white);
}

.osx-text-transition-item {
    padding: 0 5px;
}

.osx-portal {
    z-index: 1070;
    right: auto;
    border-radius: 3px;
    position: absolute;
    background-color: #231f3b;
    width: 230px;
}

.osx-contextmenu {
    background-color: var(--primary-bg);
    border-radius: 8px;
    position: absolute;
    z-index: 101;
    box-shadow: 0 2px 5px var(--portal-menu-box-shadow);
    width: 250px;
}

.song-menu {
    width: 280px !important;
}

.song-info-submenu {
    padding: 15px;
}

.menu-list--submenu {
    position: relative;
}

.media.song-info-menu {
    padding: 15px 15px 0 !important;
}

.media.song-info-menu {
    .media-left {
        margin-right: 10px;

        .image {
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .media-content {
        .title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
    }

    .song-stats {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #a0a0a0;

        .stat-item {
            margin-right: 10px;

            .icon {
                font-size: 14px;
                position: relative;
                top: 2px;
                margin-right: 2px;
            }
        }
    }
}

.group-button-menu {
    margin: 15px 0 10px;
    padding: 0 15px;

    .group-button-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--alpha-bg);
        border-radius: 8px;
        line-height: 1.5;

        .osx-btn {
            display: flex;
            flex: 1 1;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            padding: 8px 0;
            font-size: 10px;
            max-width: 80px;
            line-height: 14px;

            .icon {
                font-size: 16px;
                margin-bottom: 4px;
            }
        }

        .osx-btn {
            &:hover {
                background-color: var(--alpha-bg);
                color: var(--text-item-hover);
            }
        }
    }
}

.menu-list {
    li {
        color: var(--navigation-text);

        .osx-btn {
            display: -moz-flex;
            display: flex;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -ms-flex-align: center;
            width: 100%;
            padding: 10px 20px 10px 14px;
            font-size: 14px;
            line-height: normal;

            .icon:first-child {
                margin-right: 15px;
            }

            .icon {
                padding: 0;
                font-size: 16px;
            }

            .icon.ic-go-right {
                margin-left: auto;
            }
        }
    }

    li.is-active,
    li:hover {
        background-color: var(--alpha-bg);
        color: var(--text-item-hover);
    }
}

.submenu-content.share-content {
    top: 100%;
    transform: translateY(-100%);
}

.submenu-content {
    position: absolute;
    width: 230px;
    background-color: var(--primary-bg);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    left: calc(100% - 15px);
    top: -10px;
    z-index: 1;
    padding: 10px 0;
}

.add-playlist-content.submenu-content {
    top: -170px;
}

.add-playlist-content {
    .menu-list {
        .search-box {
            padding: 0 15px;
            background-color: transparent;

            .input {
                height: 35px;
                font-size: 14px;
                border: none;
                background-color: var(--alpha-bg);
                width: 100%;
                border-radius: 999px;
                padding: 0 15px;
            }
        }
    }
    .playlist-container {
        position: relative;
    }

    .playlist-container {
        .content {
            height: 185px;
            overflow-x: hidden;
        }
        .top-shadow {
            top: 0;
            transform: translateY(-10px);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
        }

        .bot-shadow,
        .top-shadow {
            position: absolute;
            height: 10px;
            width: 100%;
            opacity: 0;
        }
    }
}

.theme-modal-overlay.osx-portal-modal {
    background-color: var(--dark-alpha-50);
}

.theme-modal {
    .modal-content {
        width: 70vw;
        max-width: 900px;
        padding-bottom: 20px;

        .theme-active {
            .icon {
                display: block !important;
            }
            .osx-card-image {
                border: 1px solid var(--purple-primary) !important;
            }
        }
        .osx-card-theme {
            .ic-check {
                display: none;
                position: absolute;
                right: 8px;
                bottom: 8px;
                font-size: 12px;
                padding: 4px;
                border-radius: 50%;
                background-color: var(--purple-primary);
                color: var(--white);
            }
        }
        .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            margin: 0;

            .icon {
                font-size: 24px;
            }
        }

        h3.main-title {
            font-size: 24px;
            padding: 20px 30px;
            margin: 0;
        }

        .container {
            max-height: 50vh;
            min-height: 500px;
            padding: 0 30px;
            overflow-y: scroll;
        }

        .osx-card-theme {
            line-height: 0;

            .osx-btn {
                width: 100%;
                font-size: 8px;
            }

            .osx-card-image {
                border: 1px solid transparent;

                figure {
                    line-height: 0;
                    height: 0;
                    padding-bottom: 100%;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }

            .osx-card-content {
                padding: 5px 0;

                .title {
                    font-size: 12px;
                }
            }

            .osx-card-image.theme-image {
                figure {
                    height: 0;
                    padding-bottom: 66.67%;
                }
            }

            .ic-check {
                display: none;
                position: absolute;
                right: 8px;
                bottom: 8px;
                font-size: 12px;
                padding: 4px;
                border-radius: 50%;
                background-color: var(--purple-primary);
                color: var(--white);
            }
        }
    }

    .columns {
        margin: 0 -7px;
    }

    .column {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.theme-actions {
    flex-direction: column;
    width: 100px;
    padding: 5px 0;

    .osx-btn.is-outlined:not(.active) {
        background-color: rgba(0, 0, 0, 0.3);
        border-color: hsla(0, 0%, 100%, 0.5);
    }
}

.osx-portal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1080;
    background-color: var(--dark-alpha-80);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: var(--primary-bg);
        border-radius: 8px;
        max-height: 100%;
    }
}

.modal.is-active {
    display: flex;
}
.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 40;
}

.vip-content {
    text-align: center;
    width: 300px;

    .close-btn {
        position: absolute;
        right: -15px;
        top: -15px;
    }
    .osx-btn {
        font-weight: 500;
        padding: 8px 25px;
        font-size: 14px;
        margin-top: 15px;
        text-transform: uppercase;
        border: none;
    }
}

.osx-btn.is-yellow {
    background-color: var(--yellow);
    color: var(--black) !important;
}

.modal-card,
.modal-content > * {
    margin: 20px;
}

.osx-card-image.active .opacity,
.osx-card-image.active .osx-actions,
.osx-card-image:hover .opacity,
.osx-card-image:hover .osx-actions {
    visibility: visible;
}

.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-alpha-50);
    visibility: hidden;
}

.osx-card-image.active .opacity,
.osx-card-image.active .osx-actions,
.osx-card-image:hover .opacity,
.osx-card-image:hover .osx-actions {
    visibility: visible;
}

.media-item.active,
.media-item.focus,
.media-item:hover {
    background-color: var(--alpha-bg);
}

.media-item.active .opacity,
.media-item.active .osx-actions,
.media-item.focus .opacity,
.media-item.focus .osx-actions,
.media-item:hover .opacity,
.media-item:hover .osx-actions {
    visibility: visible;
}

.playlist-wrapper .osx-actions {
    height: 50px;
}
.playlist-actions {
    width: 100%;
    justify-content: space-evenly;
}
.osx-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
    display: -moz-flex;
    display: flex;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    visibility: hidden;
    width: 80%;
    z-index: 97;
}

.osx-actions-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.playlist-wrapper .osx-btn {
    line-height: 0;
}

.playlist-wrapper .osx-tooltip-btn .icon {
    font-size: 20px;
}
.osx-tooltip-btn .icon {
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}
.osx-actions .icon {
    color: var(--white);
}

.animation-like.active .icon:last-child {
    opacity: 0;
    visibility: visible;
    transform: translateY(-80px);
    pointer-events: none;
}
.playlist-wrapper .osx-tooltip-btn .icon {
    font-size: 20px;
}
.animation-like .icon:last-child {
    transition: all 0.5s;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
}
.icon.ic-20-Bookmarked,
.icon.ic-like-full {
    color: var(--purple-primary) !important;
}

.osx-actions .osx-tooltip-btn {
    font-size: 20px;
}

.osx-carousel-control-next,
.osx-carousel-control-prev {
    border: 0;
    width: 26px;
    height: 26px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    left: auto;
    top: -38px;
    cursor: pointer;
}

.osx-actions.artist-actions .icon.action-play,
.osx-actions.playlist-actions .icon.action-play,
.osx-actions.video-actions .icon.action-play {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
.icon.ic-svg-play-circle {
    background-image: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.31/static/media/play.81e7696e.svg);
}

.icon.ic-my-upload,
.icon.ic-svg-checked,
.icon.ic-svg-close,
.icon.ic-svg-close-white,
.icon.ic-svg-dics-music-icon,
.icon.ic-svg-music-icon,
.icon.ic-svg-pause-outline,
.icon.ic-svg-play,
.icon.ic-svg-play-block,
.icon.ic-svg-play-circle,
.icon.ic-svg-play-outline,
.icon.ic-svg-video-icon,
.icon.ic-svg-vip-account,
.icon.ic-svg-zing-choice {
    shape-rendering: optimizeSpeed;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.osx-section-title.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title .icon.ic-go-right {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: inherit;
}

.osx-section .discovery-btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);

    .icon {
        font-size: 16px;
        top: 0;
        margin-left: 6px;
    }
}

.osx-section .discovery-btn:hover {
    color: var(--link-text-hover);
}

.osx-carousel,
.osx-carousel-wrapper {
    position: relative;
}

.osx-carousel {
    display: flex;
    margin: 0 -15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.osx-carousel__container {
    display: flex;
    z-index: 3;
    width: 100%;
}

.osx-carousel-item {
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.osx-carousel-animation-active,
.osx-carousel-item {
    transition: transform 0.3s ease 0.1s;
}

.osx-carousel-item {
    .osx-card {
        width: 100%;
    }
}

.osx-card {
    max-width: 100%;
    position: relative;
}

.osx-actions .osx-tooltip-btn:hover {
    background-color: var(--hover-tooltip-opacity);
}
.osx-btn.active:hover,
.osx-btn:hover {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

.osx-new-release-section .columns {
    min-height: 190px;
}

.osx-new-release-section .columns {
    height: 321px;
}

.media-item {
    border-radius: 4px;

    .album-info {
        color: var(--song-item-action);
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;

        > span {
            cursor: pointer;

            &:hover {
                color: var(--link-text-hover);
                text-decoration: underline;
            }
        }
    }

    .media-left {
        .song-prefix {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            margin-right: 10px;
            color: var(--song-item-action);
            font-weight: 700;
        }
    }
}

.media-item.full-left .media-left {
    flex-grow: 1;
    flex-shrink: 1;
}

.media-item .media-left .song-thumb .osx-btn {
    font-size: 18px;
    line-height: 0;
    height: 18px;
}

.media-left .song-thumb + .card-info {
    overflow: hidden;
}

.media-item .media-left .title-wrapper .title {
    display: flex;
    align-items: center;
    flex: 1 1;
}

.media-item .media-left .subtitle {
    line-height: 1.33;
}

.osx-new-release-section .media-left .time-release {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: 3px;
    white-space: nowrap;
}

.osx-new-release-section .media-item .media-right .hover-items .level-item {
    display: none;
}

.media-item .media-right .is-hover-circle {
    line-height: 0;
    padding: 6px;
    margin: 0 4px;
}

.media-item .media-right .icon {
    color: var(--song-item-action);
}

.media-item.hide-right .media-right .action-items .ic-like,
.media-item.hide-right .media-right .hover-items {
    display: none;
}

.media-item.hide-right:hover .hover-items {
    display: block;
}

.media-item.hide-right:hover .action-items {
    display: none;
}

.media-item .media-left {
    display: flex;
    width: 50%;
}

.title-wrapper .icon {
    flex-shrink: 0;
    margin-left: 8px;
}

.media .title {
    font-weight: 500;
    vertical-align: top;
}

.media-item.is-vip .album-info,
.media-item.is-vip .media-left .subtitle,
.media-item.is-vip .media-left .title,
.media-item.pre-release .album-info,
.media-item.pre-release .media-left .subtitle,
.media-item.pre-release .media-left .title,
.media-item.ww-blocked .album-info,
.media-item.ww-blocked .media-left .subtitle,
.media-item.ww-blocked .media-left .title {
    opacity: 0.5;
}

.media-item .media-left .title-wrapper {
    max-width: 100%;
}

.media .card-info {
    display: -moz-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.media-item .media-left .song-thumb {
    margin-right: 10px;
    flex-shrink: 0;
}
.media-left .song-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.column {
    display: block;
    flex-shrink: 1;
    padding: 0 15px;
}

.columns {
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
}

.osx-new-release-section .media-item .media-right .action-items {
    display: none;
}

.media-item .media-right .duration {
    font-size: 12px;
    width: 46px;
    color: var(--song-item-action);
}

.osx-new-release-section .duration {
    visibility: hidden;
}

.osx-card-image {
    display: block;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;

    &:hover {
        cursor: pointer;

        img {
            transform: scale(1.1) translateZ(0);
        }
    }

    figure {
        line-height: 0;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
    }

    img {
        transition: transform 0.7s;
    }
}

.channel-section {
    margin-top: 48px;
}

h1.title,
h3.title {
    font-size: 18px;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.title {
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}

.subtitle {
    color: var(--text-secondary);
}

.title.is-2 {
    font-size: 20px;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .level-left,
    .level-right {
        display: flex;
    }

    img {
        display: inline-block;
        vertical-align: top;
    }

    .level-item:not(.is-narrow) {
        flex-grow: 1;
    }

    .level-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 0;
    }
}

.level-left {
    align-items: center;
    justify-content: flex-start;
}

.level-right {
    align-items: center;
    justify-content: flex-end;
}

.level-left,
.level-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    .subtitle,
    .title {
        margin-bottom: 0;
    }
}

.media {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .subtitle {
        display: block;
        font-size: 12px;
        margin-top: 3px;
    }

    .subtitle,
    .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        line-height: normal;
    }

    .title a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        line-height: normal;
    }
}

.subtitle.is-one-line {
    a {
        color: var(--text-secondary);

        &:hover {
            color: var(--link-text-hover);
        }
    }
}

.playlist-header {
    padding: 0 0 30px;
}

.media-left {
    margin-right: 16px;
}

.media-right {
    margin-left: 10px;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}

.title-wrapper {
    display: flex;
    align-items: center;

    .title {
        line-height: 1.3;
        text-transform: none;
    }
}

.icon {
    line-height: 66%;
    display: inline-block;
}

.osx-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.3;
    cursor: none;
}

.circle {
    border-radius: 999px !important;
}

.tippy-box[data-animation='fade'][data-state='hidden'] {
    opacity: 0;
}

[data-tippy-root] {
    max-width: calc(100vw - 10px);
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^='top'] > .tippy-arrow {
    bottom: 0;
}

.tippy-box[data-placement^='top'] > .tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: 0;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
}

.tippy-box[data-placement^='left'] > .tippy-arrow {
    right: 0;
}

.tippy-box[data-placement^='left'] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left;
}

.tippy-box[data-placement^='right'] > .tippy-arrow {
    left: 0;
}

.tippy-box[data-placement^='right'] > .tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
}

.tippy-box[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333;
}

.tippy-arrow:before {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;
}

.tippy-box {
    font-size: 11px;
    line-height: 1.3;
}

.tippy-box .title {
    font-size: 14px;
}

.tippy-box .subtitle a {
    color: hsla(0, 0%, 100%, 0.5);
}

.is-hide {
    display: none;
}

.is-rounded {
    overflow: hidden;
    border-radius: 999px !important;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.is-center {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.is-upper {
    text-transform: uppercase;
}

.is-cap {
    text-transform: capitalize;
}

.is-normal {
    line-height: normal;
}

.is-text-center {
    text-align: center;
}

.is-hover-circle {
    padding: 3px;

    &:hover {
        background-color: var(--alpha-bg);
    }
}

.bor-b-1 {
    border-bottom: 1px solid var(--border-secondary);
}

.is-oneline {
    overflow: hidden;
    text-overflow: ellipsis;
}

.is-max-index {
    z-index: 9999 !important;
}

.is-ghost:hover {
    text-decoration: underline;
}

.is-truncate .is-ghost {
    display: inline-block;
}

.pad-t-0 {
    padding-top: 0 !important;
}

.pad-t-5 {
    padding-top: 5px !important;
}

.pad-t-10 {
    padding-top: 10px !important;
}

.pad-t-15 {
    padding-top: 15px !important;
}

.pad-t-20 {
    padding-top: 20px !important;
}

.pad-t-25 {
    padding-top: 25px !important;
}

.pad-t-30 {
    padding-top: 30px !important;
}

.pad-t-40 {
    padding-top: 40px !important;
}

.pad-t-45 {
    padding-top: 45px !important;
}

.pad-t-50 {
    padding-top: 50px !important;
}

.pad-t-250 {
    padding-top: 250px !important;
}

.pad-t-300 {
    padding-top: 300px !important;
}

.pad-t-320 {
    padding-top: 320px !important;
}

.pad-r-0 {
    padding-right: 0 !important;
}

.pad-r-5 {
    padding-right: 5px !important;
}

.pad-r-15 {
    padding-right: 15px !important;
}

.pad-r-20 {
    padding-right: 20px !important;
}

.pad-r-30 {
    padding-right: 30px !important;
}

.pad-b-0 {
    padding-bottom: 0 !important;
}

.pad-b-5 {
    padding-bottom: 5 !important;
}

.pad-b-10 {
    padding-bottom: 10px !important;
}

.pad-b-15 {
    padding-bottom: 15px !important;
}

.pad-b-20 {
    padding-bottom: 20px !important;
}

.pad-b-25 {
    padding-bottom: 25px !important;
}

.pad-b-30 {
    padding-bottom: 30px !important;
}

.pad-b-40 {
    padding-bottom: 40px !important;
}

.pad-b-50 {
    padding-bottom: 50px !important;
}

.pad-b-60 {
    padding-bottom: 60px !important;
}

.pad-b-70 {
    padding-bottom: 70px !important;
}

.pad-b-175 {
    padding-bottom: 175px !important;
}

.pad-b-350 {
    padding-bottom: 350px !important;
}

.pad-l-0 {
    padding-left: 0 !important;
}

.pad-l-5 {
    padding-left: 5px !important;
}

.pad-l-10 {
    padding-left: 10px !important;
}

.pad-l-15 {
    padding-left: 15px !important;
}

.pad-l-20 {
    padding-left: 20px !important;
}

.pad-l-30 {
    padding-left: 30px !important;
}

.pad-0 {
    padding: 0 !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-20 {
    padding: 20px !important;
}

.pad-30 {
    padding: 30px !important;
}

.mar-t-0 {
    margin-top: 0 !important;
}

.mar-t-5 {
    margin-top: 5px !important;
}

.mar-t-10 {
    margin-top: 10px !important;
}

.mar-t-15 {
    margin-top: 15px !important;
}

.mar-t-20 {
    margin-top: 20px !important;
}

.mar-t-25 {
    margin-top: 25px !important;
}

.mar-t-30 {
    margin-top: 30px !important;
}

.mar-t-35 {
    margin-top: 35px !important;
}

.mar-t-40 {
    margin-top: 40px !important;
}

.mar-t-50 {
    margin-top: 50px !important;
}

.mar-l-0 {
    margin-left: 0 !important;
}

.mar-l-5 {
    margin-left: 5px !important;
}

.mar-l-10 {
    margin-left: 10px !important;
}

.mar-l-15 {
    margin-left: 15px !important;
}

.mar-l-20 {
    margin-left: 20px !important;
}

.mar-l-25 {
    margin-left: 25px !important;
}

.mar-r-0 {
    margin-right: 0 !important;
}

.mar-r-5 {
    margin-right: 5px !important;
}

.mar-r-10 {
    margin-right: 10px !important;
}

.mar-r-15 {
    margin-right: 15px !important;
}

.mar-r-20 {
    margin-right: 20px !important;
}

.mar-r-30 {
    margin-right: 30px !important;
}

.mar-r-50 {
    margin-right: 50px !important;
}

.mar-b-0 {
    margin-bottom: 0 !important;
}

.mar-b-5 {
    margin-bottom: 5px !important;
}

.mar-b-10 {
    margin-bottom: 10px !important;
}

.mar-b-15 {
    margin-bottom: 15px !important;
}

.mar-b-20 {
    margin-bottom: 20px !important;
}

.mar-b-25 {
    margin-bottom: 25px !important;
}

.mar-b-30 {
    margin-bottom: 30px !important;
}

.mar-b-35 {
    margin-bottom: 35px !important;
}

.mar-b-40 {
    margin-bottom: 40px !important;
}

.mar-b-50 {
    margin-bottom: 50px !important;
}

.mar-0 {
    margin: 0 !important;
}

.is-120x120 {
    width: 120px;
    height: 120px;
}

.is-170x170 {
    width: 170px;
    height: 170px;
}

.is-190x190 {
    width: 190px;
    height: 190px;
}

.is-210x118 {
    width: 210px;
    height: 118px;
}

.is-290x290 {
    width: 290px;
    height: 290px;
}

.is-95x95 {
    width: 95px;
    height: 95px;
}

.is-84x84 {
    width: 84px;
    height: 84px;
}

.is-80x80 {
    width: 80px;
    height: 80px;
}

.is-60x60 {
    width: 60px;
    height: 60px;
}

.is-50x50 {
    width: 50px;
    height: 50px;
}

.is-46x46 {
    width: 46px;
    height: 46px;
}

.is-40x40 {
    width: 40px;
    height: 40px;
}

.is-38x38 {
    width: 38px;
    height: 38px;
}

.is-20x20 {
    width: 20px;
    height: 20px;
}

.is-18x18 {
    width: 18px;
    height: 18px;
}

.is-fullwidth {
    width: 100%;
}

.is-desktop-1,
.is-desktop-1\.0,
.is-desktop-1\.1,
.is-desktop-1\.4,
.is-desktop-2,
.is-desktop-3,
.is-desktop-4,
.is-desktop-5,
.is-desktop-6,
.is-desktop-7,
.is-desktop-8,
.is-desktop-9,
.is-desktop-10,
.is-desktop-11,
.is-desktop-12,
.is-desktop-12-5,
.is-desktop-20,
.is-desktop-40,
.is-desktop-60,
.is-desktop-80,
.is-fullhd-1,
.is-fullhd-1\.0,
.is-fullhd-1\.1,
.is-fullhd-1\.4,
.is-fullhd-2,
.is-fullhd-3,
.is-fullhd-4,
.is-fullhd-5,
.is-fullhd-6,
.is-fullhd-7,
.is-fullhd-8,
.is-fullhd-9,
.is-fullhd-10,
.is-fullhd-11,
.is-fullhd-12,
.is-fullhd-12-5,
.is-fullhd-20,
.is-fullhd-40,
.is-fullhd-60,
.is-fullhd-80,
.is-tablet-1,
.is-tablet-1\.0,
.is-tablet-1\.1,
.is-tablet-1\.4,
.is-tablet-2,
.is-tablet-3,
.is-tablet-4,
.is-tablet-5,
.is-tablet-6,
.is-tablet-7,
.is-tablet-8,
.is-tablet-9,
.is-tablet-10,
.is-tablet-11,
.is-tablet-12,
.is-tablet-12-5,
.is-tablet-20,
.is-tablet-40,
.is-tablet-60,
.is-tablet-80,
.is-touch-1,
.is-touch-1\.0,
.is-touch-1\.1,
.is-touch-1\.4,
.is-touch-2,
.is-touch-3,
.is-touch-4,
.is-touch-5,
.is-touch-6,
.is-touch-7,
.is-touch-8,
.is-touch-9,
.is-touch-10,
.is-touch-11,
.is-touch-12,
.is-touch-12-5,
.is-touch-20,
.is-touch-40,
.is-touch-60,
.is-touch-80,
.is-widescreen-1,
.is-widescreen-1\.0,
.is-widescreen-1\.1,
.is-widescreen-1\.4,
.is-widescreen-2,
.is-widescreen-3,
.is-widescreen-4,
.is-widescreen-5,
.is-widescreen-6,
.is-widescreen-7,
.is-widescreen-8,
.is-widescreen-9,
.is-widescreen-10,
.is-widescreen-11,
.is-widescreen-12,
.is-widescreen-12-5,
.is-widescreen-20,
.is-widescreen-40,
.is-widescreen-60,
.is-widescreen-80 {
    position: relative;
    min-height: 1px;
    padding-left: 14px;
    padding-right: 14px;
    float: left;
    flex-shrink: 0;
}

.is-fullhd-5 {
    width: 41.66667%;
}
