:root {
    --primary-color: #4b4b51;
    --sidebar-bg: #f7f7f7;
    --hover-bg: #f55874;
    --text-primary: #fbfbfb;
    --text-secondary: #b4b4b4;
    --text-third: #999999;
    --hover-bg-ic: #d8d8da;
    --layout-bg: #9096af;
    --bg: #ffffff;
    --padding-section: 59px;
    --color2: #d1d2d3;
    --color3: #418de8;
    --color4: #4b4b51;
    --progressbar-player-bg: #cbcbcb;
    --progressbar-active-bg: #999999;
    // --border-player: hsla(0, 0%, 100%, 0.1);
    --volume-active-bg: #a0a0a0;
    --img-logo-osx: url('../images/apple-logo.png');
}
