:root {
    --primary-color: #4b4b51;
    --sidebar-bg: #f7f7f7;
    --hover-bg: #f55874;
    --text-primary: #4b4b51;
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-third: #999999;
    --hover-bg-ic: #d8d8da;
    --layout-bg: #9096af;
    --layout-header-bg: hsla(0, 0%, 100%, 0.7);
    --song-item-action: rgba(50, 50, 61, 0.5);
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --link-text-hover: #f55874;
    --active-bg: #f55874;
    --hover-tooltip-opacity: hsla(0, 0%, 100%, 0.3);
    --border-primary: rgba(0, 0, 0, 0.1);
    --bg: #ffffff;
    --loading-bg: rgba(0, 0, 0, 0.05);
    --purple-primary: #8d22c3;
    --padding-section: 59px;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
    --color2: #d1d2d3;
    --white: #fff;
    --color3: #418de8;
    --color4: #4b4b51;
    --progressbar-player-bg: #cbcbcb;
    --progressbar-active-bg: #999999;
    // --border-player: hsla(0, 0%, 100%, 0.1);
    --volume-active-bg: #a0a0a0;
    --img-logo-osx: url('../images/apple-logo.png');
}
