.osx-sidebar {
    height: 100vh;
    position: relative;
    z-index: 100;
    width: 240px;
    background-color: var(--sidebar-bg);
    padding: 70px 0;

    .sidebar-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        .osx-navbar {
            width: 100%;

            .osx-navbar-title {
                font-size: 14px;
                text-transform: uppercase;
                color: var(--text-secondary);
                font-weight: 700;
                padding: 0px 40px;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .osx-btn {
                    display: flex;
                    align-items: center;
                    padding: 5px;

                    .icon {
                        font-size: 20px;
                    }
                }
            }

            .osx-navbar-brand {
                width: 240px;
                height: 70px;
                position: fixed;
                top: 0;
                padding: 0 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                .osx-navbar-item {
                    .button {
                        display: inline-block;
                        line-height: 0;
                        border-radius: 0;

                        .osx-logo {
                            width: 120px;
                            height: 40px;
                            display: inline-block;
                            background: var(--img-logo-osx) 50% / contain no-repeat;
                        }
                    }
                }
            }
        }

        .osx-navbar-main {
            position: relative;
            margin-bottom: 16px;
        }

        .osx-navbar-item {
            .osx-navbar-link {
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                padding: 10px 28px;
                color: var(--primary-color);
                border-radius: 6px;
            }

            .osx-navbar-type {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 15px;
                font-weight: 600;
                padding: 8px 28px;
                color: var(--primary-color);
                height: 36px;

                .icon {
                    margin-right: 8px;
                    width: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .osx-navbar-item-wrapper {
                padding: 3px 12px;
            }
        }

        .is-active {
            box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
            background-color: var(--hover-bg);
            color: #fff !important;
        }
    }
}

.osx-navbar-menu.hover {
    .osx-navbar-item {
        &:hover {
            a {
                color: var(--link-text-hover);
            }
        }
    }
}

.sidebar-divide {
    position: relative;
    height: 1px;
    margin-bottom: 26px;

    &::after {
        content: '';
        border-top: 1px solid var(--text-secondary);
        position: absolute;
        left: 25px;
        right: 25px;
        top: 0;
    }
}

.osx-navbar-playlists {
    overflow-y: scroll;

    .playlist-item {
        font-size: 13px;
        padding: 6px 40px;
    }
}
