:root {
    --primary-color: #4b4b51;
    --sidebar-bg: #f7f7f7;
    --hover-bg: #f55874;
    --primary-text-color: #fbfbfb;
    --secondary-text-color: #b4b4b4;
    --color1: #9096af;
    --color2: #d1d2d3;
    --color3: #418de8;
    --color4: #4b4b51;
    --img-logo-osx: url('../images/apple-logo.png');
}
